/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


$navbar-inverse-bg: #563d7c;
$navbar-inverse-link-color: #fff;
$navbar-inverse-color: #fff;

@import "twitter/bootstrap";

body, body.standard {
  padding-top: 70px;
}

body.inverted {
  background: #563d7c;
}

.flag_star, .flag_star_header {
  font-size: 24px;
  cursor: pointer;  
}

.yellow {
  color: yellow;
}

.gray {
  color: #d3d3d3;
}