// Place all the styles related to the Children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.child_form_row {
  .form-group {
    margin-bottom: 15px;
  }
  .name {
    width: 50%;
    display: inline-block;
  }

  .gender {
    width: 20%;
    display: inline-block;
  }

  .age {
    width: 20%;
    display: inline-block;
  }
}